<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP"/>
    <add key="MA_DON_VI" value="GEN"/>
    <add key="MA_HE_THONG" value="KT"/>
    <!--<add key="SERVER" value="27.118.16.203"/>-->
    <add key="SERVER" value=".\SQLEXPRESS"/>
    <!--<add key="SERVER" value="APPLE8"/>-->
    <add key="INITIAL_DATABASE" value="QuanLyTTQuocAnh"/>
    <add key="FILL_DATABASE" value="QuanLyTTQuocAnh"/>
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD"/>
    <!--<add key="INITIAL_USER" value="quocanh"/>
    <add key="PASS_WORD" value="123"/>-->
    <add key="INITIAL_USER" value="sa"/>
    <add key="PASS_WORD" value="sa"/>
    <add key="DESTINATION_NAME" value="G:\ShareImages\"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
