<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RUN_MODE" value="DEVELOP" />
    <add key="MA_DON_VI" value="GEN" />
    <add key="MA_HE_THONG" value="KT" />
    <!--<add key="SERVER" value="27.118.16.203"/>-->
    <add key="SERVER" value="taquangngoc-pc\sqlexpress" />
    <!--<add key="SERVER" value="APPLE8"/>-->
    <add key="INITIAL_DATABASE" value="DAO_TAO_NOI_BO" />
    <add key="FILL_DATABASE" value="DAO_TAO_NOI_BO" />
    <add key="DATABASE_ACCESS_MODE" value="USER_AND_PASSWORD" />
    <!--<add key="INITIAL_USER" value="quocanh"/>
    <add key="PASS_WORD" value="123"/>-->
    <add key="INITIAL_USER" value="sa" />
    <add key="PASS_WORD" value="sa" /> <!--123@bcdE.!@#_ATT-->
    <add key="DESTINATION_NAME" value="G:\ShareImages\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0;HDR={1}'" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>